<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.0.xsd">
     
	<http use-expressions="true">
	
		<csrf disabled="true"/>
	
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/login/" access="permitAll" />
		<intercept-url pattern="/fail/" access="permitAll" />
		
		<intercept-url pattern="/searchProductBy" access="isAuthenticated()" />
		
		<intercept-url pattern="/productImage" access="isAuthenticated()" />
		
		<intercept-url pattern="/products" access="isAuthenticated()" />
		
		<intercept-url pattern="/products/**" access="isAuthenticated()" />
		
		<intercept-url pattern="/showProductInCart" access="isAuthenticated()" />
		
		<intercept-url pattern="/addProductToCart" access="isAuthenticated()" />
		
		<intercept-url pattern="/acceptOrder" access="isAuthenticated()" />
		
		<intercept-url pattern="/clientPanel" access="isAuthenticated()" />
		
		<intercept-url pattern="/showOrders" access="isAuthenticated()" />
		
		<intercept-url pattern="/orders/**" access="isAuthenticated()" />
		
		<intercept-url pattern="/clients/**" access="hasRole('ROLE_ADMIN')" />
		
		<intercept-url pattern="/clients/" access="hasRole('ROLE_ADMIN')" />
		
		
	    <form-login login-page="/login/" 
	    	authentication-failure-url="/fail/" 
	    	username-parameter="username"
	    	password-parameter="password"
	    	default-target-url="/clientPanel"
	    	login-processing-url="/j_spring_security_check" />
	 	
	    <logout logout-success-url="/"></logout>
 
	</http>

	
	<authentication-manager>
	 
	    <authentication-provider user-service-ref='myUserDetailsProvider' />
	 
	</authentication-manager>
	 
	<beans:bean id="myUserDetailsProvider" class="com.app.store.service.UserDataProvider" />
	
	
</beans:beans>